#map {
  border: 4mm ridge rgba(75, 76, 69, 0.6);
}

.show-options {
  text-align: right;
  margin-right: 10px;
}

.index-map {
  height: 400px;
  width: 100%;
}

.edit-map {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  display: block;
}
