    <!-- Елемент для зберігання координат -->
    <p class="shape-cors">
      <%= RGeo::GeoJSON.encode(field.shape).to_json %>
    </p>
    <p><%= field.shape %></p>
    <br><br><br><br><br><br><br><br><br>
    <div id="map"></div>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script>
      // Ініціалізація карти
      const map = L.map("map").setView([50.4501, 30.5234], 13);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "&copy; OpenStreetMap contributors",
      }).addTo(map);

      const shapeData = JSON.parse(document.querySelector('.shape-cors').innerText);

      const coordinates = shapeData.coordinates[0][0].map(coord => [coord[1], coord[0]]);

      const polygon = L.polygon(coordinates).addTo(map);

      const drawControl = new L.Control.Draw({
        edit: {
          featureGroup: L.featureGroup([polygon]).addTo(map),
          remove: false,
        },
        draw: false,
      });
      map.addControl(drawControl);

      // Обробка події редагування
      map.on(L.Draw.Event.EDITED, function (e) {
        const layers = e.layers;
        layers.eachLayer(function (layer) {
          // Отримання нових координат після редагування
          const newCoordinates = layer.getLatLngs();
          console.log(newCoordinates);
        });
      });
    </script>