    <!-- Елемент для зберігання координат -->
    <p class="shape-cors">
      <%= RGeo::GeoJSON.encode(field.shape).to_json %>
    </p>
    <p><%= field.shape %></p>
    <br><br><br><br><br><br><br><br><br>
    <div id="map"></div>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script>
      // Ініціалізація карти
      const map = L.map("map").setView([50.4501, 30.5234], 13);

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "&copy; OpenStreetMap contributors",
      }).addTo(map);
    </script>