<div id="map" style="height: 900px;"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

<link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />

<script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.js"></script>

<script>
  var map = L.map('map').setView([51.505, -0.09], 13);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  // Масив для зберігання всіх шарів (полігонів) на карті
  var allLayers = [];

  // Отримуємо існуючі полігони з поля
  var shapeField = document.getElementById('shape-field').value;
  var savedPolygonData = shapeField ? JSON.parse(shapeField) : null;

  // Відображаємо існуючі полігони на карті та додаємо їх у масив allLayers
  if (savedPolygonData) {
    L.geoJSON(savedPolygonData).eachLayer(function (layer) {
      allLayers.push(layer); // Додаємо кожен існуючий шар у масив
      layer.addTo(map);
    });
    console.log("Існуючі полігони додані в allLayers:", allLayers);
  }

  // Функція для оновлення значення прихованого поля з усіма актуальними даними
  function updateShapeField() {
    var geoJsonFeatures = allLayers.map(function (layer) {
      return layer.toGeoJSON();
    });

    var updatedGeoJSON = {
      type: 'FeatureCollection',
      features: geoJsonFeatures
    };

    var updatedJsonString = JSON.stringify(updatedGeoJSON);
    document.getElementById('shape-field').value = updatedJsonString;
    console.log("Оновлене значення прихованого поля:", updatedJsonString);
  }

  // Оновлення даних при додаванні нового полігону
  map.on('pm:create', function (e) {
    var layer = e.layer;
    allLayers.push(layer); // Додаємо новий шар до масиву
    layer.addTo(map);
    console.log("Новий полігон доданий в allLayers:", allLayers);
    updateShapeField(); // Оновлюємо поле з усіма актуальними даними
  });

  // Оновлення даних при редагуванні полігону
  map.on('pm:edit', function (e) {
    console.log("Полігон відредаговано, поточний стан allLayers:", allLayers);
    updateShapeField(); // Оновлюємо поле з актуальними даними після редагування
  });

  // Оновлення даних при видаленні полігону
  map.on('pm:remove', function (e) {
    // Видаляємо шар з масиву
    allLayers = allLayers.filter(function (layer) {
      return layer._leaflet_id !== e.layer._leaflet_id;
    });
    console.log("Полігон видалено, поточний стан allLayers:", allLayers);
    updateShapeField(); // Оновлюємо поле з актуальними даними після видалення
  });

  // Додаємо контролери для малювання на карту
  map.pm.addControls({
    position: 'topleft',
    drawCircleMarker: false,
    rotateMode: false,
  });

</script>





