<% content_for :head do %> 
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />
	<style>
		#map {
			height: 600px;
			width: 80%;
			margin: 0 auto; /* Centers the element horizontally */
			display: block; /* Ensures the div behaves as a block-level element */
		}
	</style>
<% end  %>

<div class="container edit-field">
	<h1><%= t '.edit' %></h1>

	<%= render 'form', field: @field %>
</div>
